<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/index.css">

</head>

<body>

    <nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top navbar-light">
        <div class="container-fluid">
            <!-- navabr start -->
            <a class="navbar-brand h1 mx-md-5" href="index.html">Portfolio</a>
            <button class="navbar-toggler bg-light shadow-none boder-0" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- sidebar -->
            <div class="side_bar offcanvas offcanvas-start " tabindex="-1" id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel">
                <!-- sidebar header -->
                <div class="offcanvas-header ">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Portfolio</h5>
                    <button type="button" class="btn-close btn-close-white shadow-none" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </div>
                <!-- sidebar body -->
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end align-items-center fs-5 flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link mx-2 my-2 active" href="">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-2 my-2 " href="/resume">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-2 my-2" href="/project">Project</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-2 my-2" href="/contact">Contact Us</a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </nav>
    <main>
        <section class="bg-white">
            <div class=" id_container container">
                <div class="row ">
                    <div class="id_col col-md-8 bg-dark text-white mt-5 mx-md-5 mx-2 shadow">
                        <div class="id_img col ">
                            <img src="/static/myimg.jpg" class="mx-auto d-block" alt="this">
                        </div>
                        <div class="col text-center">
                            <p>PIYUSH MISHRA </p>
                            <p>SOFTWARE ENGINEER</p>
                        </div>
                        <div class="id_icon d-flex justify-content-center">
                            <a href="linkedin.com/in/xyz-." class="mx-2 m-1"><i class="bi bi-linkedin text-dark"></i></a>
                            <a href="pm873545@gmail.com" class="mx-2 m-1"><i class="bi bi-envelope-fill text-dark"></i></a>
                            <a href="github.com/Pmiishra" class="mx-2 m-1"><i class="bi bi-github text-dark"></i></a>
                        </div>
                    </div>
                    <div class="namaste_col col-md-4 text-dark mx-md-4 mx-1 text-center">
                        <h1>WELCOME </h1>
                        <h2>To PORTFOLIO</h2>
                        <h5>Here's who I am & what I do</h5>
                        <div class="my-4  ">
                            <a type="button" class="btn btn-outline-dark shadow-sm active d-none d-md-inline my-4"
                                href="/contact">Get In Touch</a>
                        </div>
                        <p class="text-capitalize d-block d-md-none pt-4 "><strong >Hello</strong>, I'm Piyush Mishra, a Computer Science and
                            Engineering student at United College of Engineering and Research. 
                        </p>
                        <p class="text-capitalize d-block d-md-none pt-1">I have a
                            passion for technology, a highly organised and collaborative spirit, and a love for poetry, reading, and Sudoku.
                            I'm a quick learner who draws lessons from past experiences. 
                        </p>
                        <p class="text-capitalize d-block d-md-none pt-1">I look forward to connecting
                            with like-minded professionals and exploring opportunities in the tech world.
                        </p>
                        
                    </div>
                </div>
            </div>
            <footer class="footer  text-center bg-light">
                <div class="container py-3">
                    <div class="row pt-2">
                        <div class="col-md-6 order-last order-md-first my-md-0 my-3 text-md-start text-center">
                            <p>© 2035 by Piyush Mishra.</p>
                            <p>Powered and secured by Piyush Mishra</p>
                        </div>
                        <div class="col-md-3 my-md-0 my-1">
                            <h6 class=" d-none d-md-block">E-mail</h6>
                            <a>pm873545@gmail.com</a>
                        </div>
                        <div class="col-md-3">
                            <h6 class=" d-none d-md-block">Follow</h6>
                            <div class="socal_icon d-flex justify-content-center my-md-0 my-2 ">
                                <a href=""><i class="bi bi-linkedin"></i></a>
                                <a href=""><i class="bi bi-twitter "></i></a>
                                <a href=""><i class="bi bi-github "></i></a>
                            </div>
                        </div>
                        <div class="col-md-3 d-md-none d-block li-none mt-2 ">
                            <ul class="list-unstyled">
                                <li href="">Home</li>
                                <li href="/resume">About</li>
                                <li href="/project">Project</li>
                                <li href="/contact">Contact Us</li>
                            </ul>
                        </div>

                    </div>
                </div>
            </footer>
        </section>
    </main>
</body>

</html>