<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <script src="https://kit.fontawesome.com/f7f287354d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/index.css">
    <link rel="stylesheet" href="/static/project-1.css">

</head>

<body>

    <nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top navbar-light">
        <div class="container-fluid">
            <!-- navabr start -->
            <a class="navbar-brand h1 mx-md-5" href="">Portfolio</a>
            <button class="navbar-toggler bg-light shadow-none boder-0" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- sidebar -->
            <div class="side_bar offcanvas offcanvas-start " tabindex="-1" id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel">
                <!-- sidebar header -->
                <div class="offcanvas-header ">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Portfolio</h5>
                    <button type="button" class="btn-close btn-close-white shadow-none" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </div>
                <!-- sidebar body -->
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end align-items-center fs-5 flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link mx-2 my-2 active" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-2 my-2 " href="/resume">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-2 my-2" href="/project">Project</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-2 my-2" href="/contact">Contact Us</a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </nav>
    <main>

        <section class="section_1 bg-light m-md-5 m-2 my-5 shadow-sm ">
            <div class="container">
                <h1 class="text-center pt-md-5 pt-4">Leave Management System</h1>
                <p class="lms_p my-5 fs-5">
                    This Online Leave Management System in Node JS MongoDB project is primarily concerned with
                    keeping track of student’s leave activities. To be more specific, the system aids in the tracking of
                    personnel, departments, and leave records according to available categories. In addition, the system
                    shows all of the student’s leave histories. In addition, the system provides for the management of
                    leave kinds and other features. Obviously, this project has an admin panel as well as an student
                    panel. An student has a modest position and power over the system in this web application’s
                    overview. He or she may ask for leave and keep track of their own absences. In order to request for
                    leave days, an employee must state specific things. Such is the sort of leave, the conditions, and
                    the start and end dates. Aside from that, an employee may change their password and edit their
                    profile.
                </p>
            </div>
            <details>
                <summary>Admin Panel</summary>
                <p class="details_p ">The system is completely under the control of an administrator. Student, system users, leave,
                    departments, and so on may all be managed by him. Each part includes its own set of details, such as
                    a name and other vital information. An administrator must initially create departments in order to
                    sustain subsequent procedures. Second, the administrator may keep track of personnel and their
                    personal information. while filling out the leave form, the user must
                    choose one of the possible leave kinds. To create a new leave type, the system needs the user to
                    fill out several areas such as the leave name and a brief form with a short explanation.</p>
            </details>
            <details class="details_p">
                <summary>Feature Available </summary>
                <p>
                    <ul>
                        <li>Student Panel</li>
                        <li>HOD Panel</li>
                        <li>Warden Panel</li>
                        <li>Apply for Leave</li>
                        <li>History of Leave</li>
                        <li>Manage Profile</li>
                    </ul>
                </p>
            </details>
            <div class="lms_ss">
                <h3 class="text-center">Screenshots</h3>
                <div class="row my-md-5 my-4 px-md-5 px-5 text-dark">
                    <div class="section_2_icon col-md-3 btn btn-light active col-12 shadow"><img src="/static/LMS_HOME.png" alt=""></div>
                    <div class="section_2_icon col-md-3 btn btn-light active col-12 shadow"><img src="/static/student_login.png" alt=""></div>
                    <div class="section_2_icon col-md-3 btn btn-light active col-12 shadow"><img src="/static/hod_login.png" alt=""></i>
                    </div>
                    <div class="section_2_icon col-md-3 btn btn-light active col-12 shadow"><img src="/static/warden_login.png" alt=""></i>
                    </div>
                    <div class="section_2_icon col-md-3 btn btn-light active col-12 shadow"><img src="/static/register.png" alt=""></i>
                    </div>
                    <!-- <div class="section_2_icon col-md-3 btn btn-light col-12 shadow"><i class="fa-brands fa-java"></i></div>
                    <div class="section_2_icon col-md-3 btn btn-light col-12  fs-5 shadow">EXPRESS.JS</div>
                    <div class="section_2_icon col-md-3 btn btn-light col-12 shadow fs-5">MongoDB</i></div>
                    <div class="section_2_icon col-md-3 btn btn-light col-12  shadow fs-5">SQL</div> -->
                </div>
            </div>
            


        </section>







        <footer class="footer  text-center bg-light">
            <div class="container py-3">
                <div class="row pt-2">
                    <div class="col-md-6 order-last order-md-first my-md-0 my-3 text-md-start text-center">
                        <p>© 2035 by xyz.</p>
                        <p>Powered and secured by xyz</p>
                    </div>
                    <div class="col-md-3 my-md-0 my-1">
                        <h6 class=" d-none d-md-block">E-mail</h6>
                        <a>pm873545@gmail.com</a>
                    </div>
                    <div class="col-md-3">
                        <h6 class=" d-none d-md-block">Follow</h6>
                        <div class="socal_icon d-flex justify-content-center my-md-0 my-2 ">
                            <a href=""><i class="bi bi-linkedin"></i></a>
                            <a href=""><i class="bi bi-twitter "></i></a>
                            <a href=""><i class="bi bi-github "></i></a>
                        </div>
                    </div>
                    <div class="col-md-3 d-md-none d-block li-none mt-2 ">
                        <ul class="list-unstyled">
                            <li>Home</li>
                            <li>About</li>
                            <li>Project</li>
                            <li>Contact Us</li>
                        </ul>
                    </div>

                </div>
            </div>
        </footer>
        </section>
    </main>
</body>

</html>