<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <script src="https://kit.fontawesome.com/f7f287354d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/index.css">
    <link rel="stylesheet" href="/static/project.css">

</head>

<body>

    <nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top navbar-light">
        <div class="container-fluid">
            <!-- navabr start -->
            <a class="navbar-brand h1 mx-md-5" href="">Portfolio</a>
            <button class="navbar-toggler bg-light shadow-none boder-0" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- sidebar -->
            <div class="side_bar offcanvas offcanvas-start " tabindex="-1" id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel">
                <!-- sidebar header -->
                <div class="offcanvas-header ">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Portfolio</h5>
                    <button type="button" class="btn-close btn-close-white shadow-none" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </div>
                <!-- sidebar body -->
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end align-items-center fs-5 flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link mx-2 my-2 active" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-2 my-2 " href="/resume">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-2 my-2" href="/project">Project</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-2 my-2" href="/contact">Contact Us</a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </nav>
    <main>
        <div class="row row_download">
            <div class="col-9">
                <h2 class="text-center">PROJECTS</h2>
            </div>
        </div>
        <!-- PROJECT -1 -->
        <section class="section_1 bg-light m-md-5 m-2 my-5 shadow-sm ">
            <div class="container">
                <h1 class="text-center pt-md-5 pt-4">PROEJCT-1</h1>
                <div class="row my-md-5 my-4 px-md-5">
                    <div class="col-md-7">
                        <h3>
                            Leave Management System
                        </h3>
                        <footer class="section_1_footer">
                            • A Leave Management System built with <strong>Node.js</strong> and <strong>MongoDB</strong>
                            is a web-based application that simplifies the process of requesting, approving, student
                            leaves. Node.js ensures scalability, while MongoDB stores and manages the data efficiently.
                            This system enhances workforce management by centralizing leave-related data and improving
                            accessibility and security.
                        </footer>
                    </div>
                    <div class="col-md-5">
                        <img src="/static/LMS_HOME.png" alt="library-dashboard image">
                    </div>
                </div>
                <div class="col section_1_icon">
                    <a href="/project-1" class="d-none d-md-inline"><i
                            class="fa-solid fa-arrow-up-right-from-square "></i></a>
                    <a href="#"><i class="fa-brands fa-github"></i></a>
                </div>
            </div>
        </section>
        <!-- PROJECT-2 -->
        <section class="section_2 bg-light m-md-5 m-2 my-5 shadow-sm ">
            <div class="container">
                <h1 class="text-center pt-md-5 pt-4">PROEJCT-2</h1>
                <div class="row my-md-5 my-4 px-md-5">
                    <div class="col-md-7">
                        <h3>
                            E-commerce website
                        </h3>
                        <footer class="section_2_footer">
                            • The e-commerce website is built using HTML, CSS, Bootstrap, and JavaScript for the
                            frontend, providing an engaging and responsive user interface. Node.js, with Express,
                            handles the backend, connecting to a MySQL database for efficient data storage. The website
                            supports user authentication, product listings, and a secure checkout process. 
                        </footer>
                    </div>
                    <div class="col-md-5">
                        <img src="library-dashboard.jpg" alt="E-commerce home page">
                    </div>
                </div>
                <div class="col section_2_icon">
                    <a href="/Oops" class="d-none d-md-inline"><i class="fa-solid fa-arrow-up-right-from-square "></i></a>
                    <a href="https://github.com/Pmiishra/Leave_Management_System"><i class="fa-brands fa-github"></i></a>
                </div>
            </div>
        </section>
        <!-- PROJECT-3 -->
        <section class="section_3 bg-light m-md-5 m-2 my-5 shadow-sm ">
            <div class="container">
                <h1 class="text-center pt-md-5 pt-4">PROEJCT-3</h1>
                <div class="row my-md-5 my-4 px-md-5">
                    <div class="col-md-7">
                        <h3>
                            Myntra Clone Website
                        </h3>
                        <footer class="section_3_footer">
                            • Developed Myntra clone website using <strong>Html</strong>, <strong>Css</strong>, and
                            <strong>JavaScript</strong>. This project involved
                            recreating key features of the popular e-commerce
                            platform including product listings, a responsive design, and user-friendly navigation. Use
                            JavaScript for interactivity, such asproduct filtering and a
                            dynamic shopping cart
                        </footer>
                    </div>
                    <div class="col-md-5">
                        <img src="/static/myntra.jpg" alt="Myntra dashboard image">
                    </div>
                </div>
                <div class="col section_3_icon">
                    <a href="#" class="d-none d-md-inline"><i class="fa-solid fa-arrow-up-right-from-square "></i></a>
                    <a href="#"><i class="fa-brands fa-github"></i></a>
                </div>
            </div>
        </section>


        <footer class="footer  text-center bg-light">
            <div class="container py-3">
                <div class="row pt-2">
                    <div class="col-md-6 order-last order-md-first my-md-0 my-3 text-md-start text-center">
                        <p>© 2035 by xyz.</p>
                        <p>Powered and secured by xyz</p>
                    </div>
                    <div class="col-md-3 my-md-0 my-1">
                        <h6 class=" d-none d-md-block">E-mail</h6>
                        <a>pm873545@gmail.com</a>
                    </div>
                    <div class="col-md-3">
                        <h6 class=" d-none d-md-block">Follow</h6>
                        <div class="socal_icon d-flex justify-content-center my-md-0 my-2 ">
                            <a href=""><i class="bi bi-linkedin"></i></a>
                            <a href=""><i class="bi bi-twitter "></i></a>
                            <a href=""><i class="bi bi-github "></i></a>
                        </div>
                    </div>
                    <div class="col-md-3 d-md-none d-block li-none mt-2 ">
                        <ul class="list-unstyled">
                            <li>Home</li>
                            <li>About</li>
                            <li>Project</li>
                            <li>Contact Us</li>
                        </ul>
                    </div>

                </div>
            </div>
        </footer>
        </section>
    </main>
</body>

</html>