<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio</title>
    <script src="https://kit.fontawesome.com/f7f287354d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/index.css">
    <link rel="stylesheet" href="/static/resume.css">

</head>

<body>

    <nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top navbar-light">
        <div class="container-fluid">
            <!-- navabr start -->
            <a class="navbar-brand h1 mx-md-5" href="">Portfolio</a>
            <button class="navbar-toggler bg-light shadow-none boder-0" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- sidebar -->
            <div class="side_bar offcanvas offcanvas-start " tabindex="-1" id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel">
                <!-- sidebar header -->
                <div class="offcanvas-header ">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Portfolio</h5>
                    <button type="button" class="btn-close btn-close-white shadow-none" data-bs-dismiss="offcanvas"
                        aria-label="Close"></button>
                </div>
                <!-- sidebar body -->
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end align-items-center fs-5 flex-grow-1 pe-3">
                        <li class="nav-item">
                            <a class="nav-link mx-2 my-2 active" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-2 my-2 " href="/resume">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-2 my-2" href="/project">Project</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link mx-2 my-2" href="/contact">Contact Us</a>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </nav>
    <main>
        <div class="row row_download">
            <div class="col-9">
                <h2>RESUME</h2>
            </div>
            <div class="col-3"><a href="#" download="Piyush_Mishra_Resume.pdf"><i class="fa-solid fa-download "></i></a>
            </div>
        </div>
        <section class="section_1 bg-light m-md-5 m-2 my-5 shadow-sm ">
            <div class="container">
                <h1 class="text-center pt-md-5 pt-4">EDUCATION</h1>
                <div class="row my-md-5 my-4 px-md-5">
                    <div class=" col-md-1 my-1"><a href=""><i class="fa-solid fa-graduation-cap"></i></a></div>
                    <div class="col-md-12">
                        <h3>
                            Bachelor Of Technology(B.Tech) - Computer Science and Engineering
                        </h3>
                        <footer>
                            • United College Of Engineering And Research , Dr. APJ Abdul Kalam Technical University

                        </footer>
                        <footer>• 2024</footer>
                    </div>
                </div>
                <div class="row my-md-5 my-4 px-md-5">
                    <div class=" col-md-1 my-1"><a href=""><i class="fa-solid fa-graduation-cap"></i></a></div>
                    <div class="col-md-12">
                        <h3>
                            Intermediate
                        </h3>
                        <footer>
                            • Kendriya Vidyalaya C.O.D, Chheoki

                        </footer>
                        <footer>
                            • 2020
                        </footer>
                    </div>
                </div>
                <div class="row my-md-5 my-4 px-md-5">
                    <div class=" col-md-1 my-1"><a href=""><i class="fa-solid fa-graduation-cap"></i></a></div>
                    <div class="colmd-12">
                        <h3>
                            High School
                        </h3>
                        <footer>
                            • Kendriya Vidyalaya C.O.D, Chheoki
                        </footer>
                        <footer>• 2018</footer>
                    </div>
                </div>
            </div>
        </section>

        <section class="section_2 bg-light m-md-5 m-2 my-5 shadow-sm">
            <div class="container">
                <h1 class="text-center pt-md-5 pt-4">SKILLS</h1>
                <div class="row my-md-5 my-4 px-md-5 px-5 text-center text-dark">
                    <div class="section_2_icon col-md-3 btn btn-light col-12 shadow"><i class="fa-brands fa-html5"></i>
                    </div>
                    <div class="section_2_icon col-md-3 btn btn-light col-12 shadow"><i
                            class="fa-brands fa-css3-alt "></i></div>
                    <div class="section_2_icon col-md-3 btn btn-light col-12 shadow"><i class="fa-brands fa-js "></i>
                    </div>
                    <div class="section_2_icon col-md-3 btn btn-light col-12 shadow"><i
                            class="fa-brands fa-bootstrap "></i>
                    </div>
                    <div class="section_2_icon col-md-3 btn btn-light col-12 shadow"><i class="fa-brands fa-node"></i>
                    </div>
                    <div class="section_2_icon col-md-3 btn btn-light col-12 shadow"><i class="fa-brands fa-java"></i>
                    </div>
                    <div class="section_2_icon col-md-3 btn btn-light col-12  fs-5 shadow "><svg class="svg_icon"
                            xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="100" height="80"
                            viewBox="0 0 48 48">
                            <path fill="#212121"
                                d="M23.697,37.56h1.18c0.84,0,1.631-0.392,2.139-1.061l7.485-9.847l7.485,9.847	c0.508,0.668,1.299,1.061,2.139,1.061h1.18L35.756,25l9.121-12h-1.18c-0.84,0-1.631,0.392-2.139,1.061L34.5,23.347l-7.059-9.287	C26.933,13.392,26.142,13,25.302,13h-1.18l9.121,12L23.697,37.56z">
                            </path>
                            <path fill="#212121"
                                d="M24,26v-3c0-6.675-5.945-11.961-12.829-10.852C5.812,13.011,2,17.857,2,23.284L2,24v2v0.142	c0,6.553,4.777,11.786,10.868,11.858c5.092,0.06,9.389-3.344,10.707-7.999h-1.028c-0.62,0-1.182,0.355-1.451,0.913	c-1.739,3.595-5.789,5.862-10.228,4.842C6.776,34.815,4,30.981,4,26.783V26H24z M4,23.71c0-4.708,2.804-8.557,6.924-9.478	C16.798,12.92,22,17.352,22,23v1H4V23.71z"
                                id="mainIconPathAttribute"></path>
                        </svg></div>
                    <div class="section_2_icon col-md-3 btn btn-light col-12 shadow fs-5  "><svg role="img" class="svg_icon"
                            viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" id="IconChangeColor" height="80"
                            width="112">
                            <title>MongoDB</title>
                            <path
                                d="M17.193 9.555c-1.264-5.58-4.252-7.414-4.573-8.115-.28-.394-.53-.954-.735-1.44-.036.495-.055.685-.523 1.184-.723.566-4.438 3.682-4.74 10.02-.282 5.912 4.27 9.435 4.888 9.884l.07.05A73.49 73.49 0 0111.91 24h.481c.114-1.032.284-2.056.51-3.07.417-.296.604-.463.85-.693a11.342 11.342 0 003.639-8.464c.01-.814-.103-1.662-.197-2.218zm-5.336 8.195s0-8.291.275-8.29c.213 0 .49 10.695.49 10.695-.381-.045-.765-1.76-.765-2.405z"
                                id="mainIconPathAttribute"></path>
                        </svg></div>
                    <div class="section_2_icon col-md-3 btn btn-light col-12  shadow fs-5"><svg role="img" class="svg_icon"
                            viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" id="IconChangeColor" height="80"
                            width="112">
                            <title>MySQL</title>
                            <path
                                d="M16.405 5.501c-.115 0-.193.014-.274.033v.013h.014c.054.104.146.18.214.273.054.107.1.214.154.32l.014-.015c.094-.066.14-.172.14-.333-.04-.047-.046-.094-.08-.14-.04-.067-.126-.1-.18-.153zM5.77 18.695h-.927a50.854 50.854 0 00-.27-4.41h-.008l-1.41 4.41H2.45l-1.4-4.41h-.01a72.892 72.892 0 00-.195 4.41H0c.055-1.966.192-3.81.41-5.53h1.15l1.335 4.064h.008l1.347-4.064h1.095c.242 2.015.384 3.86.428 5.53zm4.017-4.08c-.378 2.045-.876 3.533-1.492 4.46-.482.716-1.01 1.073-1.583 1.073-.153 0-.34-.046-.566-.138v-.494c.11.017.24.026.386.026.268 0 .483-.075.647-.222.197-.18.295-.382.295-.605 0-.155-.077-.47-.23-.944L6.23 14.615h.91l.727 2.36c.164.536.233.91.205 1.123.4-1.064.678-2.227.835-3.483zm12.325 4.08h-2.63v-5.53h.885v4.85h1.745zm-3.32.135l-1.016-.5c.09-.076.177-.158.255-.25.433-.506.648-1.258.648-2.253 0-1.83-.718-2.746-2.155-2.746-.704 0-1.254.232-1.65.697-.43.508-.646 1.256-.646 2.245 0 .972.19 1.686.574 2.14.35.41.877.615 1.583.615.264 0 .506-.033.725-.098l1.325.772.36-.622zM15.5 17.588c-.225-.36-.337-.94-.337-1.736 0-1.393.424-2.09 1.27-2.09.443 0 .77.167.977.5.224.362.336.936.336 1.723 0 1.404-.424 2.108-1.27 2.108-.445 0-.77-.167-.978-.5zm-1.658-.425c0 .47-.172.856-.516 1.156-.344.3-.803.45-1.384.45-.543 0-1.064-.172-1.573-.515l.237-.476c.438.22.833.328 1.19.328.332 0 .593-.073.783-.22a.754.754 0 00.3-.615c0-.33-.23-.61-.648-.845-.388-.213-1.163-.657-1.163-.657-.422-.307-.632-.636-.632-1.177 0-.45.157-.81.47-1.085.315-.278.72-.415 1.22-.415.512 0 .98.136 1.4.41l-.213.476a2.726 2.726 0 00-1.064-.23c-.283 0-.502.068-.654.206a.685.685 0 00-.248.524c0 .328.234.61.666.85.393.215 1.187.67 1.187.67.433.305.648.63.648 1.168zm9.382-5.852c-.535-.014-.95.04-1.297.188-.1.04-.26.04-.274.167.055.053.063.14.11.214.08.134.218.313.346.407.14.11.28.216.427.31.26.16.555.255.81.416.145.094.293.213.44.313.073.05.12.14.214.172v-.02c-.046-.06-.06-.147-.105-.214-.067-.067-.134-.127-.2-.193a3.223 3.223 0 00-.695-.675c-.214-.146-.682-.35-.77-.595l-.013-.014c.146-.013.32-.066.46-.106.227-.06.435-.047.67-.106.106-.027.213-.06.32-.094v-.06c-.12-.12-.21-.283-.334-.395a8.867 8.867 0 00-1.104-.823c-.21-.134-.476-.22-.697-.334-.08-.04-.214-.06-.26-.127-.12-.146-.19-.34-.275-.514a17.69 17.69 0 01-.547-1.163c-.12-.262-.193-.523-.34-.763-.69-1.137-1.437-1.826-2.586-2.5-.247-.14-.543-.2-.856-.274-.167-.008-.334-.02-.5-.027-.11-.047-.216-.174-.31-.235-.38-.24-1.364-.76-1.644-.072-.18.434.267.862.422 1.082.115.153.26.328.34.5.047.116.06.235.107.356.106.294.207.622.347.897.073.14.153.287.247.413.054.073.146.107.167.227-.094.136-.1.334-.154.5-.24.757-.146 1.693.194 2.25.107.166.362.534.703.393.3-.12.234-.5.32-.835.02-.08.007-.133.048-.187v.015c.094.188.188.367.274.555.206.328.566.668.867.895.16.12.287.328.487.402v-.02h-.015c-.043-.058-.1-.086-.154-.133a3.445 3.445 0 01-.35-.4 8.76 8.76 0 01-.747-1.218c-.11-.21-.202-.436-.29-.643-.04-.08-.04-.2-.107-.24-.1.146-.247.273-.32.453-.127.288-.14.642-.188 1.01-.027.007-.014 0-.027.014-.214-.052-.287-.274-.367-.46-.2-.475-.233-1.238-.06-1.785.047-.14.247-.582.167-.716-.042-.127-.174-.2-.247-.303a2.478 2.478 0 01-.24-.427c-.16-.374-.24-.788-.414-1.162-.08-.173-.22-.354-.334-.513-.127-.18-.267-.307-.368-.52-.033-.073-.08-.194-.027-.274.014-.054.042-.075.094-.09.088-.072.335.022.422.062.247.1.455.194.662.334.094.066.195.193.315.226h.14c.214.047.455.014.655.073.355.114.675.28.962.46a5.953 5.953 0 012.085 2.286c.08.154.115.295.188.455.14.33.313.663.455.982.14.315.275.636.476.897.1.14.502.213.682.286.133.06.34.115.46.188.23.14.454.3.67.454.11.076.443.243.463.378z"
                                id="mainIconPathAttribute"></path>
                        </svg></div>
                </div>
            </div>
        </section>

        <section class="section_3 bg-light m-md-5 m-2 my-5  shadow-sm">
            <div class="container">
                <h1 class="text-center pt-md-5 pt-4">CERTIFICATIONS</h1>
                <div class="row my-md-5 my-4 px-md-5">
                    <div class=" col-md-1 my-1"><a href=""><i class="fa-solid fa-certificate"></i></a></div>
                    <div class="col-md-12">
                        <h3>
                            Summer Training Programme 2021 <a href="#"><i class="bi bi-arrow-up-right-square "></i></a>
                        </h3>
                        <footer>
                            • 2021
                        </footer>
                        <footer>
                            • United College of Engineering and Research.
                        </footer>
                        <footer>

                            • Certificate of completion of 60 hours training on JAVA.
                        </footer>
                    </div>
                </div>
                <div class="row my-md-5 my-4 px-md-5 ">
                    <div class=" col-md-1 my-1"><a href="#"><i class="fa-solid fa-certificate"></i></a></div>
                    <div class="col-md-12">
                        <h3>
                            Web Development <a href="/static/web_development_certificate.png"><i
                                    class="bi bi-arrow-up-right-square"></i></a>
                        </h3>
                        <footer>
                            • 2022
                        </footer>
                        <footer>
                            • Engineer Core Summer Training in association with Effervescence IIIT Allahabad.
                        </footer>
                    </div>
                </div>
                <div class="row my-md-5 my-4 px-md-5">
                    <div class=" col-md-1 my-1"><a href="/static/cloud certificate.png"><i
                                class="fa-solid fa-certificate"></i></a></div>
                    <div class="colmd-12">
                        <h3>
                            Cloud Computing with A.W.S <a href=""><i class="bi bi-arrow-up-right-square"></i></a>
                        </h3>
                        <footer>• 2023</footer>
                        <footer>
                            • Engineer Core Summer Training in association with Effervescence IIIT Allahabad.
                        </footer>
                    </div>
                </div>
            </div>
        </section>

        <section class="section_4 bg-light m-md-5 m-2 my-5 shadow-sm">
            <div class="container">
                <h1 class="text-center pt-md-5 pt-4">INVOLVEMENT</h1>
                <div class="row my-md-5 my-4 px-md-5">
                    <div class=" col-md-1 my-1"><a href=""><i class="fa-solid fa-award fs-3 text-dark"></i></a></div>
                    <div class="col-md-12">
                        <h3>
                            Dr. Abdul Kalam Sports Fest Certificate
                        </h3>
                        <footer>
                            • Participate in KHO-KHO event at Dr. Abdul Kalam Sports Fest , 2021-22 held on November
                            22-23 at Shambhhu Nath Institute of
                            Engineering and Technology , Prayagraj , affiliated to Dr. A.P.J. Abdul Kalam Technical
                            University , Uttar Pradesh , Lucknow.
                        </footer>

                    </div>
                </div>
                <div class="row my-md-5 my-4 px-md-5">
                    <div class=" col-md-1 my-1"><a href=""> <i class="fa-solid fa-award fs-3 text-dark"></i></a></div>
                    <div class="col-md-12">
                        <h3>
                            Certificate Of Appreciation
                        </h3>
                        <footer>
                            • Volunteered
                        </footer>
                        <footer>
                            • December 2001 - December 2001
                        </footer>
                        <footer>
                            • Participate in GANGA CLEANLINESS DRIVE at ARAIL GHAT organised on 31st Dec 2020.
                        </footer>
                    </div>
                </div>
            </div>
        </section>



        <footer class="footer  text-center bg-light">
            <div class="container py-3">
                <div class="row pt-2">
                    <div class="col-md-6 order-last order-md-first my-md-0 my-3 text-md-start text-center">
                        <p>© 2035 by xyz.</p>
                        <p>Powered and secured by xyz</p>
                    </div>
                    <div class="col-md-3 my-md-0 my-1">
                        <h6 class=" d-none d-md-block">E-mail</h6>
                        <a>pm873545@gmail.com</a>
                    </div>
                    <div class="col-md-3">
                        <h6 class=" d-none d-md-block">Follow</h6>
                        <div class="socal_icon d-flex justify-content-center my-md-0 my-2 ">
                            <a href=""><i class="bi bi-linkedin"></i></a>
                            <a href=""><i class="bi bi-twitter "></i></a>
                            <a href=""><i class="bi bi-github "></i></a>
                        </div>
                    </div>
                    <div class="col-md-3 d-md-none d-block li-none mt-2 ">
                        <ul class="list-unstyled">
                            <li>Home</li>
                            <li>About</li>
                            <li>Project</li>
                            <li>Contact Us</li>
                        </ul>
                    </div>

                </div>
            </div>
        </footer>
        </section>
    </main>
</body>

</html>